In [2]:
import sys
import os
from pathlib import Path

if (dir := str(Path(os.getcwd()).parent)) not in sys.path:
    sys.path.insert(0, dir)

import pandas as pd
from algorithm.evolution import evolution
import time

## Конфигурация системы

|  |  |
| ------ | ------ |
| Процессор | AMD Ryzen 5 5500U 2.10 GHz |
| ОЗУ | 16 ГБ |
| Операционная система | Windows 11 |

In [14]:
# Гиперпараметры, использованные при тестировании. НЕ МЕНЯТЬ.

parameters = {
    "population_dim": 250,
    "tournament_size": 5,
    "crossing_probability": 0.85,
    "mutation_probability": 0.15,
    "exchange_num": 3,
    "steps": 200,
}

In [4]:
def evolution_experiment(N: int, evo_params: dict):
    start_time = time.time()
    res = evolution(N=N, **evo_params)
    process_time = time.time() - start_time
    return N, process_time, res['fitness'], len(res['cache'])

In [5]:
def create_df(N: int, times: int) -> pd.DataFrame:
    data = []
    for _ in range(times):
        print(f'{N}: {_ + 1}/{times}')
        data.append(evolution_experiment(N, parameters))
    columns=['N', 'Time', 'fitness', 'Cache Size']
    return pd.DataFrame(data=data, columns=columns)

In [6]:
# загрузить с файла
# df = pd.read_csv('experiment.csv', sep=';')

# начать с нуля
df = create_df(0, 0)

df

Empty DataFrame
Columns: [N, Time, fitness, Cache Size]
Index: []

In [11]:
values = range(9, 10)
n_instance = 100

new_df = [create_df(N, n_instance) for N in values]
df = pd.concat([df, *new_df], ignore_index=True)

9: 1/100
9: 2/100
9: 3/100
9: 4/100
9: 5/100
9: 6/100
9: 7/100
9: 8/100
9: 9/100
9: 10/100
9: 11/100
9: 12/100
9: 13/100
9: 14/100
9: 15/100
9: 16/100
9: 17/100
9: 18/100
9: 19/100
9: 20/100
9: 21/100
9: 22/100
9: 23/100
9: 24/100
9: 25/100
9: 26/100
9: 27/100
9: 28/100
9: 29/100
9: 30/100
9: 31/100
9: 32/100
9: 33/100
9: 34/100
9: 35/100
9: 36/100
9: 37/100
9: 38/100
9: 39/100
9: 40/100
9: 41/100
9: 42/100
9: 43/100
9: 44/100
9: 45/100
9: 46/100
9: 47/100
9: 48/100
9: 49/100
9: 50/100
9: 51/100
9: 52/100
9: 53/100
9: 54/100
9: 55/100
9: 56/100
9: 57/100
9: 58/100
9: 59/100
9: 60/100
9: 61/100
9: 62/100
9: 63/100
9: 64/100
9: 65/100
9: 66/100
9: 67/100
9: 68/100
9: 69/100
9: 70/100
9: 71/100
9: 72/100
9: 73/100
9: 74/100
9: 75/100
9: 76/100
9: 77/100
9: 78/100
9: 79/100
9: 80/100
9: 81/100
9: 82/100
9: 83/100
9: 84/100
9: 85/100
9: 86/100
9: 87/100
9: 88/100
9: 89/100
9: 90/100
9: 91/100
9: 92/100
9: 93/100
9: 94/100
9: 95/100
9: 96/100
9: 97/100
9: 98/100
9: 99/100
9: 100/100

In [12]:
df

     N      Time fitness Cache Size
0    8  0.088140       0          2
1    8  0.000997       0          1
2    8  0.003999       0          1
3    8  0.143266       0          3
4    8  0.002140       0          1
..  ..       ...     ...        ...
115  9  0.448562       0          7
116  9  0.889166       0         13
117  9  0.381022       0          6
118  9  1.620360       0         23
119  9  0.003000       0          1

[120 rows x 4 columns]

In [13]:
df.groupby(['N', 'fitness']).mean()

               Time Cache Size
N fitness
8 0        0.118270        2.7
9 0        0.957051  13.827273

In [187]:
# df.to_csv('experiment.csv', index=False, sep=';')

### Изменение датасета

In [ ]:
z = create_df(0, 0)
z

In [ ]:
df_to_change = df[(df['N'] == ...) & (df['fitness'] > ...)]
df_to_change

In [ ]:
idx = df_to_change.index
idx

In [ ]:
df.loc[idx]

In [ ]:
z.index = idx
z

In [162]:
df.update(z, 'left')